body{
    background-color: black;
    margin: 0px;
}

.square{
    background-color: brown;
    width: 30%;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

#topContainer{
    margin: 0px;
    border: 2px solid white;
    color: white;
    text-align: center;
}

#midContainer{
    color: white;
    text-align: center;
}

