body{
    background-color: black;
}

.square{
    background-color: brown;
    width: 30%;
    float: left;
    padding-bottom: 30%;
    margin: 1.66%;
}

#container{
    max-width: 600px;
    margin: 0 auto;
}

#topContainer{
    color: white;
    text-align: center;
}